/*CSS DOCUMENT*/

body{
    background-repeat:repeat-y;
    background-image: url("https://image.freepik.com/fotos-gratis/almoco-saudavel-para-ir-embalado-na-lancheira_1220-4541.jpg");
    background-size:100%;
    font-size:58px;
}
h1{
    text-align:center;
    font-size:52px;
    margin-top:200px;
}
#calculator{
    text-align:center;
    font-size:38px;
}
.imcResult{
    text-align:center;
    font-size:58px;
    padding-top:35px;
}
table{
    margin:auto;
    background-color:white;
    border-width: thick;
    font-size:32px;
    border-style:solid; 
}
th, tr, td{
    border-style:solid;
    text-align:center;
}

button{
    margin-top:18px;
    font-size:48px;
    color:white;
    border-radius:22px;
    background-color:green;
    cursor: pointer;
}
input{
    width:140px;
    height:28px;
    font-size:28px;
}